.footer{

    background-color: #323232;
    font-family: outfit;
    color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}

.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-left , .footer-right, .footer-center {

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;


} 

.footer-left li , .footer-right li, .footer-center li {
    list-style-type: none;
    margin: 10px;
    cursor: pointer;
}

.footer-right h2, .footer-center h2 {
    color: white;
}

.footer-right-social-icons img{

    width: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.footer hr {

    width: 100%;
    background-color: grey;
    height: 2px;
    border: none;
    margin: 15px 0px    ;

}


@media (max-width:750px) {
    .footer-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
    }
    .footer-rights {
    text-align: center;
    }
}